@model FIT5032_Assignment.Models.Entites.FeedbackAndRating

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FeedbackAndRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.ScanPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.ScanPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd id="start-area">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "UserAppointments", "Appointments")
</p>

@section Scripts {

    <script>
        var starImg = '@Url.Content("~/Content/img/star.png")';

        var star = @Model.Rating;
        for (let i = 0; i < star; i++) {
            $('#start-area').append('<img src="' + starImg + '" class="starts" />');
        }



    </script>
    <style>
        .starts {
            width: 40px;
            height: 40px;
        }
    </style>
}