@model FIT5032_Assignment.Models.Entites.Schedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.ScanPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.ScanPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.ClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
