<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ultra Scan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark gradient-custom">
        <div class="container">
            @Html.ActionLink("UltraConnect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand deep-font-color" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Chat Hub", "ChatHub", "Home", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>

                        if (User.IsInRole("Patient"))
                        {
                            <li>@Html.ActionLink("Appointment", "UserAppointments", "Appointments", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>
                        }

                        if (User.IsInRole("Staff"))
                        {
                            <li>@Html.ActionLink("Clinic", "Index", "Clinics", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admins", new { area = "" }, new { @class = "nav-link deep-font-color" })</li>
                        }
                    }




                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Minghao Tang Application</p>
        </footer>
    </div>
    <input type="text" class="form-control" id="displayname" value="@ViewBag.User" style="display:none" required />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)





</body>


</html>


