@model FIT5032_Assignment.Models.EmailViewModel


<div>
    @using (Html.BeginForm("SendEmail", "Clinics", FormMethod.Post, new { id = "emailForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Emails, htmlAttributes: new { @class = "" })
            <div class="w-100">
                @Html.TextBoxFor(model => model.Emails, new { @class = "form-control", @id = "Useremail" })
                @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" ,@id="email-subject" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>



        <br>
        <div class="form-group">
            @Html.LabelFor(model => model.Attachment, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Attachment, new { type = "file", accept = ".pdf,.jpg,.png,.jpeg" })
                @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <div class="form-group">
            @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="email-Contents" name="Contents" placeholder="Enter Contents..." class="form-control">@Model.Contents</textarea>
                @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
            </div>
        </div>


        <br>
        <input type="submit" value="Send Email" class="btn btn-success" />
    }
</div>


<style>
    .custom-label {
        width: 150px;
    }

    .custom-input {
        width: 350px;
    }
    #Useremail, #email-subject {
        width: 1000px;
        max-width: 100%;
    }
    </style>