@model FIT5032_Assignment.Models.Entites.Appointment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking Appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal container-xl  m-2 p-1 border-bottom border-end border-2 rounded ">


        <!-- Progress bar -->
        <div class="progress position-relative row m-5 ">
            <div class="progress-bar" role="progressbar" aria-label="Step 1 of progress" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Step 1</div>
        </div>

        <div class=" row m-0 p-0 d-flex align-items-center">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                    @Html.LabelFor(model => model.PatientId, "PatientId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PatientId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            <!-- Step 1: Choose Scan Part -->
            <div class="booking-step " id="step-1">

                <div class="form-group ">
                    @Html.LabelFor(model => model.ScanPart, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 ">
                        @Html.DropDownListFor(model => model.ScanPart, (IEnumerable<SelectListItem>)ViewBag.ScanPartList, "-- Select Scan Part --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ScanPart, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button class="btn btn-primary next-btn  end-0 " data-next="2">Next</button>
            </div>



            <!-- Step 2: Select Clinic -->
            <div class="booking-step" id="step-2">
                <h3>2. Select Clinic</h3>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClinicId, "ClinicId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ClinicId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClinicId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button class="btn btn-secondary prev-btn" data-prev="1">Previous</button>
                <button class="btn btn-primary next-btn" data-next="3">Next</button>
            </div>


            <!-- Step 3: Choose time -->
            <div class="booking-step" id="step-3">
                <h3>3. Choose time</h3>
                <!-- Your Note and Title inputs go here -->
                <!-- ... -->
                <button class="btn btn-secondary prev-btn" data-prev="2">Previous</button>
                <button class="btn btn-primary next-btn" data-next="4">Next</button>
            </div>

            <!-- Step 4: Provide User Information -->
            <div class="booking-step" id="step-4">
                <h3>4. Provide User Information</h3>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>



                <button class="btn btn-secondary prev-btn" data-prev="3">Previous</button>
                <input type="submit" value="Create" class="btn btn-default" id="booking-submit" />
            </div>



            @*<div class="form-group">
                    @Html.LabelFor(model => model.IsConfirmed, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsConfirmed)
                            @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@



            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>*@
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/CustomerJsCss/Appointment.js")
}
