@model FIT5032_Assignment.Models.Entites.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.ClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScanPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScanPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
