@model FIT5032_Assignment.Models.Entites.Clinic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<div>
    <h1>@Model.ClinicName</h1>
    <p>Address: @Model.Address</p>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th style="display:none" id="selectAllArea" >
                All Email
                <input type="checkbox"  id="selectAll" />
            </th>
            <th>Appointment Date</th>
            <th>Start Time</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>IsConfirmed</th>
            <th>Note</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            <tr>
                <td style="display:none" class="eachemail">
                    <input type="checkbox" name="selectedEmails" value="@appointment.Email"  class="emailCheckbox" />
                </td>
                <td>@appointment.AppointmentDate.ToShortDateString()</td>
                <td>@appointment.StartTime.ToShortTimeString()</td>
                <td>@appointment.Title</td>
                <td>@appointment.FirstName</td>
                <td>@appointment.LastName</td>
                <td>@appointment.PhoneNumber</td>
                <td>@appointment.Email</td>
                <td>@appointment.Gender</td>
                <td>@appointment.Birthday.ToShortDateString()</td>
                <td>@(appointment.IsConfirmed ? "Yes" : "No")</td>

                <td>@appointment.Note</td>
                <td>
                    @Html.ActionLink("Details", "PatientAppointmentDetails", new { id = appointment.AppointmentId }, new { @class = "btn btn-primary" })
                </td>


            </tr>
        }
    </tbody>
</table>

<hr>
<button class="send-email btn btn-primary">Send Email</button>

<div style="display:none" id="email-area">
    @Html.Partial("EmialComponent", new FIT5032_Assignment.Models.EmailViewModel())

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        var selectedEmails = [];

        //select emial start 
            function updateEmailTextbox() {
                $('.emailCheckbox:checked').each(function () {
                    selectedEmails.push($(this).val());
                });

                var uniqueEmailsSet = new Set();
                selectedEmails.forEach(function (email) {
                    uniqueEmailsSet.add(email);
                });

                var uniqueEmailsArray = Array.from(uniqueEmailsSet);
                $('#Useremail').val(uniqueEmailsArray.join(';'));


            }


            $('#selectAll').on('change', function () {
                var isChecked = $(this).is(':checked');
                $('.emailCheckbox').prop('checked', isChecked);
                updateEmailTextbox();
            });

            $('.emailCheckbox').on('change', function () {
                if (!$(this).is(':checked')) {
                    $('#selectAll').prop('checked', false);
                }
                updateEmailTextbox();
            });


        $('.send-email').on('click', function () {
            $('#email-area').show();
            $('#selectAllArea').show();
            $('.eachemail').show();

            $('.emailCheckbox:checked').each(function () {
                selectedEmails.push($(this).val());
                updateEmailTextbox();

            });
            $('#Useremail').val(selectedEmails.join('; '));

        });
        //select emial end


        //rich text start
        tinymce.init({
            selector: '#emailBody',
            toolbar: 'undo redo | styles | fontfamily |bold italic forecolor | link image emoticons | align | mergetags inserttemplate | spellcheckdialog a11ycheck | code removeformat',
            menubar: false,
            images_file_types: "jpeg,jpg,png,gif",
            style_formats: [
                { title: 'Paragraph', format: 'p' },
                { title: 'Heading 1', format: 'h1' },
                { title: 'Heading 2', format: 'h2' },
                { title: 'Large text', format: 'largetext' },
                { title: 'Button styles' },
                { title: 'Call-to-action', format: 'calltoaction' },
            ],
        });
        //rich text end

    </script>
}