@model FIT5032_Assignment.Models.Entites.Appointment

@{
    ViewBag.Title = "PatientAppointmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment Details</h2>

<div>
    <div>
        <h4>Appointment</h4>
        <hr />
        <div class="details-container">

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.Clinic.ClinicName)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.Clinic.ClinicName)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.Clinic.Address)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.Clinic.Address)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.ScanPart)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.ScanPart)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.Title)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.Title)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.FirstName)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.FirstName)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.LastName)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.LastName)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.Birthday)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.Birthday)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.PhoneNumber)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.PhoneNumber)</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.Email)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.Email)</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.IsConfirmed)</span>
                <span class="detail-value">
                    @(Model.IsConfirmed ? "Yes" : "No")
                </span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.AppointmentDate)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.AppointmentDate)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.StartTime)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.StartTime)</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">@Html.DisplayNameFor(model => model.EndTime)</span>
                <span class="detail-value">@Html.DisplayFor(model => model.EndTime)</span>
            </div>




            <div class="detail-item">
                <span class="detail-label">@Html.DisplayName("Image")</span>
                <span class="detail-value">
                    @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewBag.ImagePath)))
                    {
                        <img class="img-thumbnail" src="@Url.Content("~/Uploads/" + ViewBag.ImagePath)" alt="@ViewBag.ImageName" />
                    }
                    else
                    {
                        <text>No image available</text>
                    }
                </span>
            </div>


            <hr />
            <h1>Feedback</h1>

            @if (Model.Feedback != null && (Model.Feedback.Rating > 0 || Model.Feedback.Comment != null))
            {
                <div class="detail-item">
                    <span class="detail-label">@Html.DisplayNameFor(model => model.Feedback.Rating)</span>
                    <span class="detail-value" id="start-area"></span>
                    <input id="rating-val" style="display:none" value="@Model.Feedback.Rating" />
                </div>
                <div class="detail-item">
                    <span class="detail-label">@Html.DisplayNameFor(model => model.Feedback.Comment)</span>
                    <span class="detail-value">@Html.DisplayFor(model => model.Feedback.Comment)</span>
                </div>
            }
            else
            {
                <div class="detail-item">
                    <span class="detail-value">No Feedback</span>
                </div>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<link href="~/Content/PatientStyle.css" rel="stylesheet" type="text/css" />
@section Scripts {

    <script>
        var starImg = '@Url.Content("~/Content/img/star.png")';

        var star = $("#rating-val").val();
        for (let i = 0; i < star; i++) {
            $('#start-area').append('<img src="' + starImg + '" class="starts" />');
        }



    </script>
    <style>
        .starts {
            width:40px;
            height:40px;
        }
        </style>
}


